.cart-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.product-image img {
    width: 100px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-quantity {
    margin-bottom: 5px;
}

.quantity-input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.update-quantity-button, .remove-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Fira Code', monospace;
}

.update-quantity-button:hover {
    background-color: #38ff88;
}

.remove-button {
    background-color: black;
    margin-top: 10px;
}

.remove-button:hover {
    background-color: red;
}

.cart-container {
    text-align: center;
    margin-top: 20px;
}

.add-to-cart-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    display: inline-block;
}

.add-to-cart-button:hover {
    background-color: #333;
}

.back-to-shop {
    font-size: 14px;
    color: blue;
    text-decoration: none;
}

.back-to-shop:hover {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}
